.header {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
}

h1 {
  display: flex;
  font-size: 50px;
  color: rgb(18, 78, 18);
  justify-content: center;
  align-items: center;
}

a {
  margin-left: 5px;
  margin-right: 15px;

}

a, a:visited, a:hover, a:active {
  color: rgb(79, 79, 79);
}